<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="h-12 bg-stone-900 flex items-center px-4 py-2">
  <div class="brand-wrapper">
    <span class="text-lg font-black text-gray-50">ElixChat</span>
  </div>
</div>

<div class="container">

  <section class="mt-8">
    <div id="messages" class="messages"></div>
    <div class="chat-button-wrapper">
      <button id="chat-button">Chat Now</button>
    </div>
  </section>
</div>

